.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 0 auto;
}

.App {
  background-image: url("https://images.pexels.com/photos/4516064/pexels-photo-4516064.jpeg?auto=compress&cs=tinysrgb&w=1200&lazy=load");
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: black;
}