.App {
    background-image: 
    url(
  "https://images.pexels.com/photos/13554986/pexels-photo-13554986.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load");
  background-size: cover;
  height: 600vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: fill;
  }

footer {
    text-align: center;
    margin: 0 auto;
}
