.App {
    background-image: 
    url(
  "https://images.pexels.com/photos/13398530/pexels-photo-13398530.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  height: 600vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  }

footer {
    text-align: center;
    margin: 0 auto;
}
