.Dictionary {
    background-color: white;
    background-image: url("https://garden.spoonflower.com/c/10921524/p/f/m/IorcQN8fQ-Gx2SYr8UllyOmoFDBpa5sJXvZmOIVRGRmz77rowf4Z/Solid%20Pale%20Blue%20Gray.jpg");
}

form {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20mm;
}