.Dictionary {
    font-family: arial;
    background-color: white;
}

.Dictionary section {
    background: gray;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 10px 10px rgb(0 0 0 / 10%);
}

.Dictionary input {
    width: 100%;
    padding: 6px 4px;
    color: #333;
    border: 1px solid #ddd;
}

.Dictionary .hint {
    font-size: 11px;
    margin-top: 5px;
}

form {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10mm;
}

.Dictionary .search-bar {
    display: block;
    height: 64px;
    color: #666;
    font-size: 18px;
    line-height: 21px;
    padding: 22px;
    border: 1px solid #ddd;
    border-radius: 6px;
    width: 100%;
}