.Information-box {
    box-shadow: 0;
    border-radius: 8px;
    background: #fff;
    margin-top: 10px;
    padding: 40px;
    box-sizing: border-box;
    display:block;
}

.Phonetic a{
    font-weight: 400;
    margin-right: 15px;
    font-size: 14px;
    line-height: 27px;
    padding: 8px 18px;
    border-radius: 50px;
    border: 1px solid #ddd;
    color: black;
}

a:any-link {
    cursor: auto;
}

.container .pronounce {
    font-weight: 400;
}